@import "../colors/colors";

// Start Header
.navbar {
  background-color: #ddd;
  .navbar-brand {
    padding: 0;
    .logo {
      @extend %logo;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      margin: auto;
      .nav-link {
        color: $textcolor !important;
        transition: 0.5s;
        &.active,
        &:hover {
          color: $maincolor !important;
        }
      }
    }
  }
  .registeration {
    .btn-auth {
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: $maincolor;
      .register {
        color: $white;
        text-decoration: none;
        width: 100%;
        padding: 8px;
        padding: 8px 10px;
        border-radius: 5px;
      }
    }
  }
}
// End Header
