@import "../colors/colors";

.registration-header {
  .languages {
    span {
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: $maincolor;
      }
      &.active {
        margin: 0 20px;
        color: $maincolor;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 120%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: $maincolor;
          height: 2px;
          width: 100%;
        }
      }
    }
  }
  .logo-container {
    .logo {
      @extend %logo;
    }
  }
}
