.navbar {
    background-color: #ddd;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-collapse .navbar-nav {
    margin: auto;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
    color: #707070 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar .navbar-collapse .navbar-nav .nav-link.active,
.navbar .navbar-collapse .navbar-nav .nav-link:hover {
    color: #db5f4a !important;
}

.navbar .registeration .btn-auth {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #db5f4a;
}

.navbar .registeration .btn-auth .register {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    padding: 8px 10px;
    border-radius: 5px;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.shipment-status .title {
    margin-bottom: 50px;
    position: relative;
    color: #db5f4a;
}

.shipment-status .title::before {
    position: absolute;
    content: "";
    background-color: #db5f4a;
    height: 2px;
    left: 50%;
    top: 120%;
    width: 120px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.shipmentorder .text,
.shipment-status p {
    color: #707070;
    line-height: 1.7;
}

.navbar .navbar-brand .logo {
    width: 160px;
    height: 100px;
}

.welcome-to-you {
    background-color: #db5f4a;
    margin-top: 90px;
    height: 70vh;
}

.welcome-to-you .content .details {
    color: #fff;
}

.welcome-to-you .content .details .main-title {
    margin-top: 25%;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
}

.welcome-to-you .content .photo {
    color: #707070;
}

.shipmentorder {
    padding: 70px 0;
}

.shipmentorder .follow-shipment .shipment-btn {
    border: 1px solid #db5f4a;
    background-color: #db5f4a;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    margin-left: 20px;
}

.shipmentorder .follow-shipment .shipment-input {
    color: #707070;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    width: 350px;
}

.shipment-status .title {
    color: #212121;
}

.shipment-status .tabs .tablinks {
    border: 1px solid #aaa;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    background-color: #6b6b6b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.shipment-status .tabs .tablinks.active {
    background-color: #22a414;
    color: #fff;
}

.shipment-status #content-1 {
    display: block;
}

.shipment-status .content {
    margin: 30px 0;
}

.shipment-status .content .tabcontent {
    display: none;
}

.shipment-status .content .tabcontent .details {
    margin-bottom: 20px;
}

.shipment-status .content .tabcontent .details h6 {
    color: #212121;
}