.navbar {
    background-color: #525050;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-collapse .navbar-nav {
    margin: auto;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
    color: #707070 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar .navbar-collapse .navbar-nav .nav-link.active,
.navbar .navbar-collapse .navbar-nav .nav-link:hover {
    color: white !important;
}

.navbar .registeration .btn-auth {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #db5f4a;
}

.navbar .registeration .btn-auth .register {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    padding: 8px 10px;
    border-radius: 5px;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.our-services .main-title {
    margin-bottom: 50px;
    position: relative;
    color: #db5f4a;
}

.our-services .main-title::before {
    position: absolute;
    content: "";
    background-color: #db5f4a;
    height: 2px;
    left: 50%;
    top: 120%;
    width: 120px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.our-services .title {
    color: #212121;
    margin-bottom: 15px;
}

.descrtion .shipment .details .text,
.our-services .text {
    color: #707070;
    line-height: 1.7;
}

.navbar .navbar-brand .logo {
    width: 160px;
    height: 100px;
}

.descrtion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
}

.descrtion .shipment .details .title {
    color: #db5f4a;
}

.descrtion .shipment .details .text {
    width: 68%;
    margin: 30px 0;
}

.descrtion .shipment .follow-shipment .shipment-btn {
    border: 1px solid #db5f4a;
    background-color: #db5f4a;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    margin-left: 20px;
}

.descrtion .shipment .follow-shipment .shipment-input {
    color: #707070;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    width: 350px;
}

.our-services {
    padding: 50px 0;
}

.our-services .box-shipment {
    margin-bottom: 80px;
}