.navbar {
    background-color: #ddd;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-collapse .navbar-nav {
    margin: auto;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
    color: #707070 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar .navbar-collapse .navbar-nav .nav-link.active,
.navbar .navbar-collapse .navbar-nav .nav-link:hover {
    color: #db5f4a !important;
}

.navbar .registeration .btn-auth {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #db5f4a;
}

.navbar .registeration .btn-auth .register {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    padding: 8px 10px;
    border-radius: 5px;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.navbar .navbar-brand .logo {
    width: 160px;
    height: 100px;
}

.shana-form {
    padding: 50px 0;
}

.shana-form .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.shana-form .form-container .part {
    width: 50%;
}

.shana-form .form-container .part .form-input {
    color: #707070;
    border: 1px solid #aaa;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
}