.navbar {
  background-color: #ddd;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .navbar-collapse .navbar-nav {
  margin: auto;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
  color: #707070 !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navbar-collapse .navbar-nav .nav-link.active, .navbar .navbar-collapse .navbar-nav .nav-link:hover {
  color: #db5f4a !important;
}

.navbar .registeration .btn-auth {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #db5f4a;
}

.navbar .registeration .btn-auth .register {
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 8px;
  padding: 8px 10px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.your-orders .details .date .text {
  color: #707070;
  line-height: 1.7;
}

.navbar .navbar-brand .logo {
  width: 160px;
  height: 100px;
}

.welcome-to-you {
  background-color: #db5f4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  height: 60vh;
}

@media (min-width: 320px) and (max-width: 767px) {
  .welcome-to-you {
    text-align: center;
    height: auto !important;
    padding: 20px 0 !important;
  }
}

.welcome-to-you .content .details {
  color: #fff;
}

.welcome-to-you .content .details .main-title {
  margin-top: 15%;
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 767px) {
  .welcome-to-you .content .details .main-title {
    margin-top: unset !important;
    font-size: 2em;
  }
}

.welcome-to-you .content .details p {
  font-size: 18px;
}

.your-orders {
  padding: 50px;
}

.your-orders .details .every-user .user-img {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

.your-orders .details .every-user .user-name .welcome {
  color: #707070;
}

.your-orders .details .every-user .user-name .name {
  color: #212121;
  margin-top: 5px;
}

.your-orders .details .date {
  margin: 30px 0;
}

.your-orders .details .date .date-icon {
  background-color: #e4cbc7;
  color: #f00;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.your-orders .orders-details {
  margin-bottom: 20px;
}

.your-orders .orders-details .every-order {
  background-color: #cee0d3;
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .your-orders .orders-details .every-order {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .your-orders .orders-details .every-order .details-ship {
    display: block !important;
  }
}

.your-orders .orders-details .every-order .details-ship .box-icon {
  color: #080;
  margin-left: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .your-orders .orders-details .every-order .details-ship .box-icon {
    display: inline !important;
  }
}

.your-orders .orders-details .every-order .details-ship .box-icon .one {
  background-color: #b9dbc2;
  width: 30px;
  height: 30px;
}

@media (min-width: 320px) and (max-width: 420px) {
  .your-orders .orders-details .every-order .details-ship .box-icon .one {
    margin: auto !important;
  }
}

.your-orders .orders-details .every-order .details-ship .about-order {
  color: #707070;
}

.your-orders .orders-details .every-order .details-ship .about-order .address {
  color: #212121;
  line-height: 1.5;
}

.your-orders .orders-details .every-order .details-ship .about-order .dates {
  color: #707070;
}

.your-orders .orders-details .every-order .details-ship .about-order .dates .part {
  margin-left: 10px;
}

.your-orders .orders-details .every-order .details-ship .about-order .dates .part .part-2 {
  color: #212121;
  margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .your-orders .orders-details .every-order .details-ship .about-order .dates .texts {
    display: block !important;
  }
  .your-orders .orders-details .every-order .details-ship .about-order .dates .texts .part {
    margin-bottom: 5px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .your-orders .orders-details .every-order .success {
    margin: 15px 0 !important;
  }
}

.your-orders .orders-details .every-order .success .one {
  color: #45c9a5;
  font-weight: bold;
}

.your-orders .orders-details .every-order .success .one.false {
  color: #f00;
}

.your-orders .orders-details .every-order .success .two {
  padding: 5px;
  color: #fff;
  background-color: #45c9a5;
}

.your-orders .orders-details .every-order .success .two.false {
  background-color: #f00;
}
