body {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.sign-form .text {
    color: #707070;
    line-height: 1.7;
}

.registration-header .logo-container .logo {
    width: 160px;
    height: 100px;
}

.sign-form .submit-button {
    width: 100%;
    border: none;
    background: #db5f4a;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin: 20px 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sign-form .submit-button:hover {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.registration-header .languages span {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.registration-header .languages span:hover {
    color: #db5f4a;
}

.registration-header .languages span.active {
    margin: 0 20px;
    color: #db5f4a;
    position: relative;
}

.registration-header .languages span.active::before {
    position: absolute;
    content: "";
    top: 120%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #db5f4a;
    height: 2px;
    width: 100%;
}

.sign-form {
    width: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    .sign-form {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sign-form {
        width: 70%;
    }
}

.sign-form.sign-in {
    margin-top: 50px;
}

.sign-form.forget-password {
    margin: 100px auto 0;
}

.sign-form.forget-password .submit-button {
    padding: 0;
}

.sign-form.forget-password .submit-button .link {
    padding: 8px;
    width: 100%;
    color: #fff;
    text-decoration: none;
}

.sign-form.new-password {
    margin: 50px auto 0;
}

.sign-form.new-password .submit-button {
    padding: 0;
}

.sign-form.new-password .submit-button .link {
    padding: 8px;
    width: 100%;
    color: #fff;
    text-decoration: none;
}

.sign-form.success-password {
    width: 55%;
    margin: 100px auto;
}

@media (max-width: 768px) {
    .sign-form.success-password {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sign-form.success-password {
        width: 70%;
    }
}

.sign-form.success-password .submit-button {
    padding: 0;
}

.sign-form.success-password .submit-button .link {
    padding: 8px;
    width: 100%;
    color: #fff;
    text-decoration: none;
}

.sign-form .title {
    color: #212121;
    margin-bottom: 20px;
}

.sign-form .form-group.full-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .sign-form .form-group.full-name {
        display: unset;
    }
}

.sign-form .form-group .details {
    margin-bottom: 20px;
}

.sign-form .form-group .details.full-name {
    width: calc(100% / 2);
}

@media (max-width: 991px) {
    .sign-form .form-group .details.full-name {
        width: 100%;
    }
}

.sign-form .form-group .details .form-label {
    color: #707070;
}

.sign-form .form-group .details .input-container {
    border: 1px solid #aaa;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sign-form .form-group .details .input-container .form-input {
    color: #707070;
    border: none;
    outline: none;
    width: 90%;
    padding: 5px;
}

.sign-form .form-group .details .input-container .form-input.different {
    width: 94%;
}

@media (max-width: 991px) {
    .sign-form .form-group .details .input-container .form-input.different {
        width: 90%;
    }
}

.sign-form .form-group .details .input-container .icon {
    color: #707070;
}

.forget-password {
    margin: 20px 0;
}

@media (max-width: 768px) {
    .forget-password {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
}

.forget-password .remember-me span {
    color: #db5f4a;
}

.forget-password .newpassword {
    color: #db5f4a;
    text-decoration: none;
}

.account {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto 0;
    border-bottom: 1px solid #db5f4a;
    color: #707070;
}

.account .go-to-sign {
    text-decoration: none;
    color: #db5f4a;
}