@import "../colors/colors";

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
// box-shadow: inset -4em 0 0 0 #ffc107, inset 4em 0 0 0 #ffc107;
%section-heading {
  margin-bottom: 50px;
  position: relative;
  color: $maincolor;
  &::before {
    position: absolute;
    content: "";
    background-color: $maincolor;
    height: 2px;
    left: 50%;
    top: 120%;
    width: 120px;
    transform: translateX(-50%);
  }
}

%part-title {
  color: $headcolor;
  margin-bottom: 15px;
}

%p-style {
  color: $textcolor;
  line-height: 1.7;
}

%logo {
  width: 160px;
  height: 100px;
}

%submit-button {
  width: 100%;
  border: none;
  background: $maincolor;
  color: $white;
  padding: 8px;
  border-radius: 10px;
  margin: 20px 0;
  transition: 0.5s;
  &:hover {
    transform: translateX(10px);
  }
}
