@import "../layouts/header";
@import "../global/global";
@import "../colors/colors";
@import "../layouts/footer";

// Start Welcome To Shana
.welcome-to-you {
  background-color: $maincolor;

  margin-top: 140px;
  height: 70vh;
  .content {
    .details {
      color: $white;
      .main-title {
        margin-top: 25%;
        margin-bottom: 20px;
        font-size: 60px;
        font-weight: bold;
      }
    }
    .photo {
      color: $textcolor;
    }
  }
}
// End Welcome To Shana

// Start Shipment Order
.shipmentorder {
  padding: 70px 0;
  .text {
    @extend %p-style;
  }
  .follow-shipment {
    .shipment-btn {
      border: 1px solid $maincolor;
      background-color: $maincolor;
      border-radius: 5px;
      padding: 10px 20px;
      color: $white;
      margin-left: 20px;
    }
    .shipment-input {
      color: $textcolor;
      outline: none;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $bordercolor;
      width: 350px;
    }
  }
}
// End Shipment Order

// Start Shipment Status
.shipment-status {
  .title {
    @extend %section-heading;
    color: $headcolor;
  }
  .tabs .tablinks {
    border: 1px solid $bordercolor;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s;
    color: $white;
    background-color: $tabbutton;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      background-color: #22a414;
      color: $white;
    }
  }
  #content-1 {
    display: block;
  }
  .content {
    margin: 30px 0;
    .tabcontent {
      display: none;
      .details {
        margin-bottom: 20px;
        h6 {
          color: $headcolor;
        }
      }
    }
  }
  p {
    @extend %p-style;
  }
}
