@import "../layouts/header";
@import "../global/global";
@import "../colors/colors";
@import "../layouts/footer";

// Start Description
.descrtion {
  display: flex;
  align-items: center;
  height: 100vh;
  .shipment {
    .details {
      .title {
        color: $maincolor;
      }
      .text {
        @extend %p-style;
        width: 68%;
        margin: 30px 0;
      }
    }
    .follow-shipment {
      .shipment-btn {
        border: 1px solid $maincolor;
        background-color: $maincolor;
        border-radius: 5px;
        padding: 10px 20px;
        color: $white;
        margin-left: 20px;
      }
      .shipment-input {
        color: $textcolor;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid $bordercolor;
        width: 350px;
      }
    }
  }
}
// End Description

// Strat Our Services
.our-services {
  padding: 50px 0;
  .main-title {
    @extend %section-heading;
  }
  .title {
    @extend%part-title;
  }
  .text {
    @extend %p-style;
  }
  .box-shipment {
    margin-bottom: 80px;
  }
}
// End Our Services
