@import "../layouts/header";
@import "../global/global";
@import "../colors/colors";
@import "../layouts/footer";

// Start Welcome To Shana
.welcome-to-you {
  background-color: $maincolor;
  display: flex;
  align-items: center;
  margin-top: 140px;
  height: 60vh;
  @media (min-width: 320px) and (max-width: 767px) {
    text-align: center;
    height: auto !important;
    padding: 20px 0 !important;
  }
  .content {
    .details {
      color: $white;
      .main-title {
        margin-top: 15%;
        margin-bottom: 20px;
        font-size: 3em;
        font-weight: bold;
        @media (min-width: 320px) and (max-width: 767px) {
          margin-top: unset !important;
          font-size: 2em;
        }
      }
      p {
        font-size: 18px;
      }
    }
  }
}
// End Welcome To Shana

// Start Your Orders
.your-orders {
  padding: 50px;
  .details {
    .every-user {
      .user-img {
        margin-left: 20px;
        width: 50px;
        height: 50px;
      }
      .user-name {
        .welcome {
          color: $textcolor;
        }
        .name {
          color: $headcolor;
          margin-top: 5px;
        }
      }
    }
    .date {
      margin: 30px 0;
      .date-icon {
        background-color: #e4cbc7;
        color: #f00;
        width: 30px;
        height: 30px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin-left: 10px;
      }
      .text {
        @extend %p-style;
      }
    }
  }
  .orders-details {
    margin-bottom: 20px;
    .every-order {
      background-color: #cee0d3;
      padding: 10px;
      @media (min-width: 320px) and (max-width: 767px) {
        display: block !important;
      }
      .details-ship {
        @media (min-width: 320px) and (max-width: 420px) {
          display: block !important;
        }
        .box-icon {
          color: #080;
          margin-left: 10px;
          @media (min-width: 320px) and (max-width: 767px) {
            display: inline !important;
          }

          .one {
            background-color: #b9dbc2;
            width: 30px;
            height: 30px;
            @media (min-width: 320px) and (max-width: 420px) {
              margin: auto !important;
            }
          }
        }
        .about-order {
          color: $textcolor;
          .address {
            color: $headcolor;
            line-height: 1.5;
          }
          .dates {
            color: $textcolor;
            .part {
              margin-left: 10px;
              .part-2 {
                color: $headcolor;
                margin-right: 5px;
              }
            }
            @media (min-width: 320px) and (max-width: 767px) {
              .texts {
                display: block !important;
                .part {
                  margin-bottom: 5px !important;
                }
              }
            }
          }
        }
      }
      .success {
        @media (min-width: 320px) and (max-width: 767px) {
          margin: 15px 0 !important;
        }
        .one {
          color: #45c9a5;
          font-weight: bold;
          &.false {
            color: #f00;
          }
        }
        .two {
          padding: 5px;
          color: $white;
          background-color: #45c9a5;
          &.false {
            background-color: #f00;
          }
        }
      }
    }
  }
}
// End Your Orders
