@import "../global/global";
@import "../colors/colors";
@import "../layouts/registration-header";

//  Start Sign Form
.sign-form {
  width: 50%;
  margin: auto;
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 70%;
  }
  &.sign-in {
    margin-top: 50px;
  }
  &.forget-password {
    margin: 100px auto 0;
    .submit-button {
      padding: 0;
      .link {
        padding: 8px;
        width: 100%;
        color: $white;
        text-decoration: none;
      }
    }
  }
  &.new-password {
    margin: 50px auto 0;
    .submit-button {
      padding: 0;
      .link {
        padding: 8px;
        width: 100%;
        color: $white;
        text-decoration: none;
      }
    }
  }
  &.success-password {
    width: 55%;
    margin: 100px auto;
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 70%;
    }
    .submit-button {
      padding: 0;
      .link {
        padding: 8px;
        width: 100%;
        color: $white;
        text-decoration: none;
      }
    }
  }
  .title {
    color: $headcolor;
    margin-bottom: 20px;
  }
  .text {
    @extend %p-style;
  }
  .form-group {
    &.full-name {
      display: flex;
      gap: 20px;
      @media (max-width: 991px) {
        display: unset;
      }
    }
    .details {
      margin-bottom: 20px;
      &.full-name {
        width: calc(100% / 2);
        @media (max-width: 991px) {
          width: 100%;
        }
      }
      .form-label {
        color: $textcolor;
      }
      .input-container {
        border: 1px solid $bordercolor;
        transition: 0.5s;
        .form-input {
          color: $textcolor;
          border: none;
          outline: none;
          width: 90%;
          padding: 5px;
          &.different {
            width: 94%;
            @media (max-width: 991px) {
              width: 90%;
            }
          }
        }
        .icon {
          color: $textcolor;
        }
      }
    }
  }
  .submit-button {
    @extend %submit-button;
  }
}
//  End Sign Form

.forget-password {
  margin: 20px 0;
  @media (max-width: 768px) {
    justify-content: space-between !important;
  }
  .remember-me {
    span {
      color: $maincolor;
    }
  }
  .newpassword {
    color: $maincolor;
    text-decoration: none;
  }
}

.account {
  width: fit-content;
  margin: 20px auto 0;
  border-bottom: 1px solid $maincolor;
  color: $textcolor;
  .go-to-sign {
    text-decoration: none;
    color: $maincolor;
  }
}
